* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 960px;
  margin: 0 auto;
}
section {
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 20px;
}
section:last-child {
  margin-bottom: 200px;
}
h3 {padding: 20px;}

.task1 {
  position: relative;
  margin: auto;
  height: 600px;
  width: 100%;
  background: linear-gradient(to right, rgba(49, 29, 94, .3) 0%, rgba(49, 29, 94, .3) 100%),
  url(https://bit.ly/2GOlYDr);
  background-size: cover;
} 

.task2 {
  height: 400px;
  width: 400px;
  background-color: #424242;
  position: relative;
}

.box {
  position: absolute;
  height: 100px;
  width: 100px;
}
.blue {
  left: 0;
  top: 0;
  background-color: #35A0EF;
}
.green {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #249385;
}
.rose {
  right: 0;
  top: 0;
  background-color: #E42C65;
}
.red {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #EF4B44;
}
.orange {
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #FB5D3A;
}
.plum {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #991CA9;
}
.ligt-green {
  left: 0;
  bottom: 0;
  background-color: #4EAB57;
}
.yellow {
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background-color: #FCEE59;
}
.ligt-blue {
  right: 0;
  bottom: 0;
  background-color: #3E8DED;
}

.back {
  margin: 0 auto;
  height: 450px;
  width: 450px;
  padding: 24px;
  box-shadow: 0 0 8px 2px rgba(200, 200, 200, 1);
}

.menu {
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}
.menu-item {
  border: solid 1px;
  position: relative;
  display: inline-block;
}
.menu-item > a,
.sub-menu-item > a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  color: #686868;
}
.menu-item > a:hover,
.sub-menu-item > a:hover {
  background: rgb(55, 179, 179);
  color: #fff;
}
.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.3)
}
.menu-item:hover > .sub-menu {
  display: block;
}
.sub-menu-item {
  white-space: nowrap;
}