* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 960px;
  font-size: 14px;
  line-height: 24px;
  padding-top: 77px;
  margin: auto auto;
}

ul {list-style-type: none;}

nav {
  text-align: center;
  margin-bottom: 103px;
}

.main-menu li {
  display: inline-block;
  padding: 12px 14px;
  text-align: center;
}

.main-menu li:hover {
  outline: 1px solid rgb(236, 236, 236);
}
.main-menu li:hover a {
  color: #cc9999;
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Playfair Display', sans-serif;
  color: #666666;
  padding: 15px;
  margin: 0 20px;
}
.main > div {
  width: 420px;
  display: inline-block;
}

.festival,
.dream,
.song {
  margin: 0 38px;
}

img {
  margin-bottom: 32px;
}

.path-item {
  margin-bottom: 35px;
  font-family: 'Ubuntu', serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #cc9999;
}
.ph {
  color: #b4ad9e;
}

h2 {
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  color: #666666;
  margin-bottom: 43px;
}

p {
  font-family: 'Playfair Display', serif;
  line-height: 24px;
  margin-bottom: 130px;
  color: #626262;
}

    /*BUTTON*/
    
.btn-load {
  text-align: center;
  padding-bottom: 70px;
}

.btn-load-more {
  display: inline-block;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  padding: 22px 34px;
  font-size: 20px;
  line-height: 24px;
  border: solid 1px #666666;
  opacity: 1;
}
.btn-load-more:hover {
  border: 2px solid #666666;
  opacity: .6;
}
