body {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
  line-height: 24px;
  
}
.main-header, 
.main-content {
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}
.main-nav { padding-left: 165px;}

.main-header {
  padding-top: 72px;
  margin-bottom: 104px;
}
.main-menu {
  list-style: none;
  margin: auto; 
}

.main-menu-item {
  display: inline-block;
  margin-right: 90px;
}

.main-menu-item:last-child {
  margin-right: 0;
}

.main-menu-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
}
.main-menu-link:hover {
  color: #03a9f4;
}
/* MAIN-CONTENT */
.content-item {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.content-item-list {
  display: inline-block;
  width: 420px;
}

.content-item-list:nth-of-type(2n) {
  margin-right: 0;
}

section {
  margin-bottom: 130px;
}
section:last-of-type {
  margin-bottom: 52px;
}

.content-item-list {
  display: inline-block;
  margin-right: 60px;
  vertical-align: top;
}
.content-item-list:last-child {
  margin-right: 0;
}

.content-item-list h2 {
  font-size: 30px;
  line-height: 36px;
  color: #666666;
  margin-bottom: 32px;
}
p:nth-last-of-type(2) {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  color: #b4ad9e;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}

.btn-load {
  margin-bottom: 70px;
  text-align: center;
}
.btn-load-more {
  height: 60px;
  width: 166px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #626262;
  background: transparent;
  border: solid 1px;
}

.btn-load-more:hover {
  cursor: pointer;
  border: 2px solid #666666;
  opacity: .6;
}