*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.main-header, 
.main-content {
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}

.main-header {
  padding-top: 72px;
  margin-bottom: 50px;
}
.main-menu {
  text-align: center;
  width: auto;
  margin: auto;
  font-size: 0;
}
.main-menu-item {
  display: inline-block;
  font-family: 'Playfair Display', sans-serif;
  font-size: 14px;
  line-height: 24px;
}
.main-menu-item:hover {
  outline: 1px solid rgb(236, 236, 236);
}
.main-menu-item:last-child {
  margin-right: 0;
}
.main-menu-link {
  display: block;
  width: auto;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #626262;
  padding: 12px 20px;
}
.main-menu-link:hover {
  text-decoration: underline;
  color: #cc9999;
}
/*MAIN CONTENT*/

.task2 {
  width: 470px;
  padding: 30px 26px;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 0 0 8px 2px rgba(200, 200, 200, 1);
}
.content-item {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.task3 {
  width: 960px;
  display: inline-block;
  padding: 30px 30px;
  box-shadow: 0 0 8px 2px rgba(200, 200, 200, 1);
}

.content-item-list {
  display: inline-block;
  width: 420px;
}
section {
  margin-bottom: 100px;
}

.content-item-list {
  display: inline-block;
  margin-right: 60px;
}
.content-item-list:last-child {
  margin-right: 0;
}
.content-item-list h2 {
  font-size: 30px;
  line-height: 36px;
  color: #666666;
  margin-bottom: 32px;
}
p:nth-last-of-type(2) {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-bottom: 26px;
}

p {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}

h3 {
  font-family: 'Playfair Display', serif;
  display: block;
  font-size: 1.2rem;
  padding: 0 10px;
  margin-bottom: 14px;
}
code {
  font-family: 'Ubuntu' serif;
  background-color: #f7f7f7;
  font-size: 18px;
  line-height: 44px;
  padding: 4px 10px;
  font-weight: 700;
  margin-bottom: 10px;
}
.task4 {
  padding-bottom: 50px;
}
